.gorras {
    width: 20%; /* Ajusta el ancho de cada elemento según tu diseño */
    margin: 10px; /* Espacio entre los elementos */
    display: inline-block; /* Para mostrar los elementos en línea */
    /* float: left; */ /* Alternativamente, puedes usar float para hacer que los elementos floten a la izquierda */
}

/* Para asegurarte de que no haya espacios entre los elementos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}