body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(150deg, #fcfbfc, #cbcbca);
    height: 100vh;
    }
    .registro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        background-color: white;
        border-radius: 10px;
    }
    .registro h1{
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }
    .registro form {
        padding: 0 40px;
        box-sizing: border-box;
    }
    form .username {
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
    }
    .username input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font: 16px;
        border: none;
        background:none;
        outline: none;

    }
    
    .username label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
    }
    .username span::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: #6C3483;
        transition: .5s;
    }
    .username input:focus ~ label,
    .username input:focus ~ label{
        top: -5px;
        color: #0701c6;
    }
    .username input:focus ~ span::before,
    .username input:focus ~ span::before{
        width: 100%;
    }

    input[type="submit"]{
        width: 100%;
        height: 50px;
        border:1px solid;
        background: #0800ea;
        border-radius: 25px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        outline: none;
    }
    input[type="submit"]:hover{
        border-color: purple;
        transition: .5s;
    }
    
    label {
        margin: 10px;
    }
